.sideImg{
	object-fit: cover;
	height: 50vh;
	width: 50vh;
}

.noOverflow{
	overflow: hidden;
	padding-left: 5px;
	--bs-gutter-x: 0;
}

.noMargin{
	margin-top: 0rem;
}

.inputBox{
	font-size: 1rem;
	font-weight: 600;
	border: 1px solid black;
	height: 3rem;
}

.label{
	font-weight: 400;
}

