.navContainerStart{
	height: 5rem;
	opacity: 1;
	background-color: ghostwhite;
	box-shadow: 1px 1px 5px;
}

.navContainerScrolled{
	height: 5rem;
	opacity: 1;
	background-color: ghostwhite;
	box-shadow: 1px 1px 5px;
}

.navContainerTransparent{
	height: 5rem;
}

.navItem{

}

.logo{
	max-height: 3rem;
}