.colHeight{
	min-height: 15rem;
	max-height: 15rem;
	background-color: red;
	overflow: hidden;
	margin-top: 0.25rem;
}

.cardImg{
	object-fit: cover;
	min-height: 15rem;
	max-height: 15rem;
}

.overlayContent{
	max-width: 50%;
	background-color: #967154;
}

.cardOverlay{
	opacity: 1;
	transform: translateX(-50%);
	transition: transform 0.2s;
	width: 200%;
	color: floralwhite;
	--bs-card-img-overlay-padding: 0;
}

.cardOverlay:hover{
	opacity: 1;
	transform: translateX(0);
}

